@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}


<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h1 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">@ViewData["Title"]</h1>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="intro-x flex text-gray-700 text-xs sm:text-sm mt-4">
                <input asp-for="Input.Email" class="intro-x login__input input input--lg border border-gray-300 block" placeholder="Ingresa tu correo" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="intro-x mt-5 xl:mt-4 text-center xl:text-left">
                <button type="submit" class="button button--lg w-full xl:w-32 text-white bg-theme-1 xl:mr-3">Enviar</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
