<div class="my-auto">
    <div class="-intro-x text-black font-medium text-2xl leading-tight mt-8 text-center">
        <p>Bienvenido a Mis Resetas <br />
        Estaremos encantados de ofrecerte nuestras mejores resetas</p>
    </div>
</div>