@{
    ViewData["Title"] = "Home Page";
}

<div class="my-auto">
    <div class="-intro-x text-black font-medium text-2xl leading-tight mt-8">
        <p><a href="~/Identity/Account/Login">Podrás conocer más de nuestras resetas , click  aquí</a>.</p>
    </div>
</div>