@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="my-auto">
    <div class="-intro-x text-black font-medium text-2xl leading-tight mt-8">
        <p>Esta pagina esta elaborada en Asp .Net Core, exclusivamente para el negocio Agumarina Spa.</p>
    </div>
</div>